# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

build
.gradle
*.iml
!gradle-wrapper.jar

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/main/resources/public
/out/production/classes/META-INF/javalin-camunda-microservice.kotlin_module
/out/production/resources/public/css/app.5f9dc29f.css
/out/production/resources/public/css/app.ec7f573a.css
/out/production/resources/public/js/app.4bc2490b.js
/out/production/resources/public/js/app.4bc2490b.js.map
/out/production/resources/public/js/app.b93c1857.js
/out/production/resources/public/js/app.b93c1857.js.map
/out/production/resources/public/js/chunk-vendors.0ef0b747.js
/out/production/resources/public/js/chunk-vendors.0ef0b747.js.map
/out/production/resources/public/js/chunk-vendors.580b6364.js
/out/production/resources/public/js/chunk-vendors.580b6364.js.map
/out/production/resources/public/favicon.ico
/out/production/resources/public/index.html
/out/production/resources/bad_process_1.bpmn
/out/production/resources/bad_process_1.png
/out/production/resources/process.bpmn
/out/production/resources/process_v1.bpmn
/out/production/resources/process_v1.png
/out/production/resources/process_v2.bpmn
/out/production/resources/process_v2.png
/out/test/classes/META-INF/javalin-camunda-microservice.kotlin_module
/process-engine.mv.db
